// Screen size variables
$screen-xxs-max: 320px;  // Paty's Iphone
$screen-xs-max: 430px;  // Tiny phones
$screen-sm-max: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-max: 768px;  // Small tablets (portrait view)
$screen-lg-max: 992px;  // Tablets and small desktops
$screen-xl-max: 1200px; // Large tablets and desktops

$screen-xxl-max: 1360px; // Large tablets and desktops
$screen-mac-max: 1440px;// mac screens
$screen-fhd-max: 1920px;// Full hd screens
$screen-mac15-max: 2880px;// mac 15" retina screens